
/*----------------------------------------------------------------
    CSS CLEAR START
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*----------------------------------------------------------------
    CSS CLEAR FINISH
*/

/*----------------------------------------------------------------
    DOCUMENT CSS START
*/
/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('./fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v29-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('./fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v29-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  
/* Box sizing rules */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    color: white;
    background-color: #2F343A;
}

/* timer of moz for links on hover/active/focus */

.moz_timer {
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

/*----------------------------------------------------------------
    DOCUMENT CSS FINISH
*/


/*----------------------------------------------------------------
    CSS HEADER START
*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: inherit;
    z-index: 1;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover, .header a:active, .header a:focus{
    opacity: .70;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.header_wrapper, .header_logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.info_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header_info {
    background: #C8A35F;
    height: 45px;
    padding: 16px;
}

.header_company {
    padding: 27px;
}

.header_list, .language_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 30px;
}

.header_item:last-child {
    margin-right: 0;
}

.header_link {
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.header_logo_link {
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid #F2F2F2;
}

.header_office_link {
    background: url(./images/location-point.svg) no-repeat left;
    height: 25px;
    padding-top: 5px;  
    padding-left: 35px;
    font-size: 14px;
    letter-spacing: 0.05em; 
}

.header_office_link:active, .header_office_link:hover, .header_office_link:focus {
    color: rgba(255, 255, 255, 0.7);
}

.language_nav {
    font-size: 12px;
    line-height: 12px;
}

.language_item {
    text-transform: uppercase;
    margin-right: 10px;
}

.language_item:last-child {
    margin: 0;
}

.language_link, .header_phone, .header_mail {
    font-size: 12px;
    line-height: 12px;
}

.language_item a {
    opacity: .70;
}

.language_item:first-child a{
    opacity: 1;
}

.header .header_logo a {
    opacity: 1;
}

/*----------------------------------------------------------------
    CSS HEADER FINISH
*/

/*----------------------------------------------------------------
    CSS INTRO START
*/

.intro {
    margin-top: 145px;
    min-height: 620px;
    background: url("./images/truck.png") no-repeat center;
    background-size: cover;
    padding-top: 155px;
}

.intro_block {
    margin: 0 auto;
    max-width: 920px;
    height: 245px;
    border: 1px solid #C8A35F;
    box-sizing: border-box;
    padding-top: 45px;
    margin-bottom: 130px;
}

.intro_wrapper {
    width: 777px;
    margin: 0 auto;
    text-align: center;
}

.intro_h1 { 
    font-weight: bold;
    font-size: 64px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    height: 59px;
    margin-bottom: 45px;
}

.intro_text {
    font-size: 18px;
    line-height: 28px;
}

.mouse_link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30px;
    margin: 0 auto;
}

.mouse_link:hover, .mouse_link:active, .mouse_link:focus {
    opacity: .70;
    margin-top: -7px;
    color: white;
}

/*----------------------------------------------------------------
    CSS INTRO END
*/


/*----------------------------------------------------------------
    CSS TRANSITIONS START
*/

.transitions {
    height: 560px;
    position: relative;
    margin-bottom: 120px;
}

.transitions_background {

    background: #393F47;
    height: 100%;
    z-index: 3;
}

.transition_back-rectangle {
    margin: 0 auto;
    margin-top: -560px;
    height: 100%;
    width: 420px;
    z-index: 2;
    background-color: #2F343A;
}

.transition_field {
    margin-top: -560px;
    height: 560px;
    z-index: 1;
    padding-top: 120px;
    padding-bottom: 120px;
}

.transition_board {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.transition_info {
    width: 445px;
}

.transition_h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.transition_h2::before {
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 90px;
    height: 6px;
    background: #C8A35F;
    margin-bottom: 40px;
    ;
}

.transition_text {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
}

.transition_more {
    display: block;
    width: 220px;
    height: 55px;
    background: #C8A35F;
    text-align: center;
    font-weight: 500;
    padding-top: 16px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.transition_more:hover, .transition_more:active, .transition_more:focus {
    background:  #dfb66a;
    box-shadow: 0 0 15px rgb(39, 39, 39);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
}

.transition_pic-down {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.transition_links {
    height: 276px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;  
}

.transition_links a{
    width: 160px;
    text-decoration: none;
    color: #C8A35F;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.transition_links a:focus, .transition_links a:hover, .transition_links a:active {
    color: #f2c879;
}

.transition_next {
    background: url(./images/right-arrow-ico.svg) no-repeat 95%;
    padding-right: 96px;
}

.transition_next:hover, .transition_next:focus, .transition_next:active {
    background: url(./images/right-arrow-ico.svg) no-repeat right;
}

.transition_before {
    background: url(./images/left-arrow-ico.svg) no-repeat 5%;
    padding-left: 96px;  
}

.transition_before:hover, .transition_before:active, .transition_before:focus {
    background: url(./images/left-arrow-ico.svg) no-repeat left;
}


/*----------------------------------------------------------------
    CSS TRANSITIONS END
*/



/*----------------------------------------------------------------
    CSS SERVICE START
*/

.service_container {
    height: 561px; 
    margin-bottom: 120px;
}

.service_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.service_card {
    height: 180px;
    color:white;
    background: #393F47;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service_img-back{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
    border-radius: 70px;
}

.service_text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.service_card:hover, .service_card:focus, .service_card:active {
    background: #C8A35F;
}

/*----------------------------------------------------------------
    CSS SERVICE END
*/

/*----------------------------------------------------------------
    CSS ABOUT COMPANY START
*/

.about_co {
    position: relative;
    margin-bottom: 120px;
}

.about_co_back-rectangle {
    width: 420px;
    height: 482px;
    background: #393F47;
    margin: 0 auto;
    z-index: 2;
}

.about_co_field {
    margin-top: -482px;
    height: 482px;
    display: flex;
    align-items: center;
}

.about_co_board {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_co_info {
    width: 445px;
}

.about_co_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

.about_co_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.about_co_card-stats {
    height: 160px;
    width: 200px;
    background: white;
    color: #2F343A;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_co_card-img {
    height: 160px;
    width: 200px;
}

.stats_number {

    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.stats_measure {

    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
}

.stats_sub {
    font-size: 12px;
    line-height: 14px;
}



/*----------------------------------------------------------------
    CSS ABOUT COMPANY END
*/

/*----------------------------------------------------------------
    CSS FOOTER START
*/

.footer_map {
    height: 450px;
    background: url(./images/maps.png) no-repeat center;
    background-size: cover;
    position: relative;
}

.footer_map::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: #393F4799;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.footer_map:hover::after {
    background: transparent;
}

.footer_info {
    height: 160px;
    background: #C8A35F;
    padding-top: 60px;
}

.footer_deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.footer_deck a {
    color: white; 
    text-decoration: none;
    opacity: 0.8;
}

.footer_deck a:hover, .footer_deck a:focus, .footer_deck a:active {
    opacity: 1;
}

.footer_numbers, .footer_author {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

/*----------------------------------------------------------------
    CSS FOOTER END
*/